src/test/resources/sanity-checks/all_elasticsearch.yaml
id: all_elasticsearch
namespace: sanitycheck.plugin-elasticsearch

tasks:
  - id: init
    type: io.kestra.plugin.core.output.OutputValues
    values:
      randomPort: "{{ randomPort() }}"

  - id: dockerStart
    type: io.kestra.plugin.docker.Run
    containerImage: docker.elastic.co/elasticsearch/elasticsearch:8.17.2
    env:
      discovery.type: single-node
      xpack.security.enabled: "false"
    portBindings:
      - "{{ outputs.init.values.randomPort }}:9200"
    wait: false

  - id: sleep_45
    type: io.kestra.plugin.core.flow.Sleep
    duration: "PT45S"

  - id: parallel
    type: io.kestra.plugin.core.flow.ForEach
    values: ["bulk","esql","load","put_get","request","scroll","search"]
    concurrencyLimit: 0
    tasks:
      - id: subflow
        type: io.kestra.plugin.core.flow.Subflow
        namespace: "{{ flow.namespace }}"
        flowId: "{{ taskrun.value }}"
        wait: true
        transmitFailed: true
        inputs:
          cs: "http://localhost:{{ outputs.init.values.randomPort }}"

finally:
  - id: dockerStop
    type: io.kestra.plugin.docker.Stop
    containerId: "{{ outputs.dockerStart.taskRunner.containerId }}"
