src/test/resources/sanity-checks/bulk.yaml
id: bulk
namespace: sanitycheck.plugin.elasticsearch

inputs:
  - id: cs
    type: STRING
    defaults: "http://localhost:9200"

variables:
  index_name: bulk_index

tasks:
  - id: write
    type: io.kestra.plugin.core.storage.Write
    content: |
      {"index":{"_index":"{{ vars.index_name }}","_id":"1"}}
      {"field1":"value1"}
      {"delete":{"_index":"{{ vars.index_name }}","_id":"1"}}
      {"create":{"_index":"{{ vars.index_name }}","_id":"3"}}
      {"field1":"value3"}
      {"update":{"_index":"{{ vars.index_name }}","_id":"3"}}
      {"doc":{"field2":"value2"}}
    extension: .ion

  - id: bulk
    type: io.kestra.plugin.elasticsearch.Bulk
    connection:
      hosts:
        - "{{ inputs.cs }}"
    from: "{{ outputs.write.uri }}"

  - id: get
    type: io.kestra.plugin.elasticsearch.Get
    connection:
      hosts:
        - "{{ inputs.cs }}"
    index: "{{ vars.index_name }}"
    key: "3"
    version: 2

  - id: assert
    type: io.kestra.plugin.core.execution.Assert
    errorMessage: "Invalid bulk: {{ outputs.bulk.size }}"
    conditions:
      - "{{ outputs.bulk.size == 4 }}"
      - "{{ outputs.get.row.field1 == 'value3' }}"
      - "{{ outputs.get.row.doc.field2 == 'value2' }}"