src/test/resources/sanity-checks/esql.yaml
id: esql
namespace: sanitycheck.plugin-elasticsearch

inputs:
  - id: cs
    type: STRING
    defaults: "http://localhost:9200"

variables:
  index_name: esql_index

tasks:
  - id: create_index
    type: io.kestra.plugin.fs.http.Request
    uri: "{{ inputs.cs }}/{{ vars.index_name }}"
    method: PUT
    contentType: application/json
    body: |
      {
        "settings": {
          "number_of_shards": 1,
          "number_of_replicas": 1
        }
      }

  - id: bulk_index
    type: io.kestra.plugin.fs.http.Request
    uri: "{{ inputs.cs }}/_bulk?refresh=wait_for"
    method: POST
    contentType: application/json
    body: |
      { "index" : { "_index" : "{{ vars.index_name }}", "_id" : "1" } }
      { "country" : "France", "city" : "Paris" }
      { "index" : { "_index" : "{{ vars.index_name }}", "_id" : "2" } }
      { "country" : "France", "city" : "Lille" }
      { "index" : { "_index" : "{{ vars.index_name }}", "_id" : "3" } }
      { "country" : "England", "city" : "London" }
      { "index" : { "_index" : "{{ vars.index_name }}", "_id" : "4" } }
      { "country" : "Germany", "city" : "Berlin" }

  - id: esql
    type: io.kestra.plugin.elasticsearch.Esql
    connection:
      hosts:
        - "{{ inputs.cs }}"
    fetchType: FETCH
    query: |
      FROM {{ vars.index_name }}
        | WHERE country == "France"
        | SORT city

  - id: assert
    type: io.kestra.plugin.core.execution.Assert
    errorMessage: "Invalid esql {{ outputs.esql.rows }}"
    conditions:
      - "{{ outputs.esql.size == 2 }}"
      - "{{ outputs.esql.rows[0].city == 'Lille' }}"
      - "{{ outputs.esql.rows[0].country == 'France' }}"
      - "{{ outputs.esql.rows[1].city == 'Paris' }}"
      - "{{ outputs.esql.rows[1].country == 'France' }}"