src/test/resources/sanity-checks/put_get.yaml
id: put_get
namespace: sanitycheck.plugin.elasticsearch

inputs:
  - id: cs
    type: STRING
    defaults: "http://localhost:9200"

variables:
  index_name: put_get_index
  document_key: "my_key"

tasks:
  - id: create_index
    type: io.kestra.plugin.fs.http.Request
    uri: "{{ inputs.cs }}/{{ vars.index_name }}"
    method: PUT
    contentType: application/json
    body: |
      {
        "settings": {
          "number_of_shards": 1,
          "number_of_replicas": 1
        }
      }

  - id: put
    type: io.kestra.plugin.elasticsearch.Put
    connection:
      hosts:
        - "{{ inputs.cs }}"
    index: "{{ vars.index_name }}"
    key: "{{ vars.document_key }}"
    value: {"name": "John Doe", "city": "Paris"}
    refreshPolicy: IMMEDIATE

  - id: get
    type: io.kestra.plugin.elasticsearch.Get
    connection:
      hosts:
        - "{{ inputs.cs }}"
    index: "{{ vars.index_name }}"
    key: "{{ vars.document_key }}"
    version: 1

  - id: assert
    type: io.kestra.plugin.core.execution.Assert
    errorMessage: "Invalid put and get {{ outputs.put.result }}"
    conditions:
      - "{{ outputs.put.id == vars.document_key }}"
      - "{{ outputs.put.result == 'Created' }}"
      - "{{ outputs.get.row.name == 'John Doe' }}"
      - "{{ outputs.get.row.city == 'Paris' }}"
