src/test/resources/sanity-checks/scroll.yaml
id: scroll
namespace: sanitycheck.plugin-elasticsearch

inputs:
  - id: cs
    type: STRING
    defaults: "http://localhost:9200"

variables:
  index_name: scroll_index

tasks:
  - id: create_index
    type: io.kestra.plugin.fs.http.Request
    uri: "{{ inputs.cs }}/{{ vars.index_name }}"
    method: PUT
    contentType: application/json
    body: |
      {
        "settings": {
          "number_of_shards": 1,
          "number_of_replicas": 1
        }
      }

  - id: bulk_index
    type: io.kestra.plugin.fs.http.Request
    uri: "{{ inputs.cs }}/_bulk?refresh=wait_for"
    method: POST
    contentType: application/json
    body: |
      { "index" : { "_index" : "{{ vars.index_name }}", "_id" : "1" } }
      { "country" : "France", "city" : "Paris" }
      { "index" : { "_index" : "{{ vars.index_name }}", "_id" : "2" } }
      { "country" : "France", "city" : "Lille" }
      { "index" : { "_index" : "{{ vars.index_name }}", "_id" : "3" } }
      { "country" : "England", "city" : "London" }
      { "index" : { "_index" : "{{ vars.index_name }}", "_id" : "4" } }
      { "country" : "Germany", "city" : "Berlin" }

  - id: scroll
    type: io.kestra.plugin.elasticsearch.Scroll
    connection:
      hosts:
        - "{{ inputs.cs }}"
    indexes:
      - "{{ vars.index_name }}"
    request: |
      {
        "query": {
          "match": {
            "country": "France"
          }
        }
      }

  - id: assert
    type: io.kestra.plugin.core.execution.Assert
    errorMessage: "Invalid scroll {{ outputs.scroll.size }} "
    conditions:
      - "{{ outputs.scroll.size == 2 }}"